name: "Build Images"

on:
    push:
    release:
        types:
            - published

env:
    REGISTRY: ghcr.io
    IMAGE_NAME: ${{ github.repository }}

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
            id-token: write
        steps:
            -   name: Checkout
                uses: actions/checkout@v5.0.0

            -   name: Install cosign
                uses: sigstore/cosign-installer@v4.0.0

            -   name: Set up QEMU
                uses: docker/setup-qemu-action@v3.7.0

            -   name: Setup Docker buildx
                uses: docker/setup-buildx-action@v3.11.1

            -   name: Log into registry ${{ env.REGISTRY }}
                uses: docker/login-action@v3.6.0
                with:
                    registry: ${{ env.REGISTRY }}
                    username: ${{ github.actor }}
                    password: ${{ secrets.GITHUB_TOKEN }}

            -   name: Extract Docker metadata
                id: meta
                uses: docker/metadata-action@v5.9.0
                with:
                    images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
                    tags: |
                        type=ref,event=branch
                        type=semver,pattern={{version}}
                        type=edge,branch=develop
                        type=raw,value=latest,enable=${{ github.ref == format('refs/heads/{0}', 'main') }}

            - name: Build and push Docker image
              id: build-and-push
              uses: docker/build-push-action@v6.18.0
              with:
                  context: .
                  push: true
                  pull: true
                  tags: ${{ steps.meta.outputs.tags }}
                  labels: ${{ steps.meta.outputs.labels }}
                  annotations: |
                    ${{ steps.prepare.outputs.labels }}
                  no-cache: true
                  platforms:  "linux/amd64,linux/arm64"

            - name: Sign the published Docker image
              run: echo "${{ steps.meta.outputs.tags }}" | xargs -I {} cosign sign --yes {}@${{ steps.build-and-push.outputs.digest }}


